#mac system files
.DS_store

#jupypter notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.ipynb_checkpoints/DTS - 04 - Modal Composite-checkpoint.ipynb
.ipynb_checkpoints/DTS - 05 - Modal Widths-checkpoint.ipynb
